<h2>Create New Account</h2>

<% if @user.errors.any? %>
  <p>Please Correct The Following Errors</p>
  <ul>
    <% @user.errors.full_messages.each do |e| %>
    <li><%= e %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @user do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>


  <%= f.label :email %>
  <%= f.email_field :email %>
  <br>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <br>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    <br>
  </div>

  <%= f.submit 'Sign up' %>





<% end %>
